<h2>Search for a movie!</h2>
<h2><a href="/favorites">Favorited Movies</a></h2>

<input type="search" name="keyword" id="keyword" placeholder="Search for Movie">
<button type="button" name="button" id="button">Search</button>
