<!DOCTYPE html>
<html>
  <head>
    <title>Code Challenge</title>
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script src="/public/js/app.js"></script>
    <base href="/"></base>
  </head>
  <body>
    <h1><a href="/">Code Challenge</a></h1>
    {{{body}}}
  </body>
</html>
