<!DOCTYPE html>
<html>
  <head>
    <title>Code Challenge</title>
    <link rel="stylesheet" href="/public/styles.css" />
    <base href="/"></base>
  </head>
  <body>
    <h1><a href="/">Code Challenge</a></h1>
    <!-- This is our root view. All other views will be inserted in the body below. Whatever you place in here will show up on every page. -->
    {{{body}}}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js">  
    </script> -->
    <script src="/public/app.js"></script>
  </body>
</html>
