body {
  text-align: center;
}

a {
  text-decoration: none;
}

/*When a user searches for a movie, the display changes from none to inline*/
#showMore {
  display: none;
}

img {
  border-radius: 1em;
}

p {
  text-align: left;
  padding: 0 2em;
}
